{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Confirm Password Reset{% endblock %}
{% block title_text %}Confirm Password Reset{% endblock %}
{% block content_title %}Confirm Password Reset{% endblock %}
{% block formcontent %}

{% if validlink %}

    <form method="post">{% csrf_token %}
        <div class="form-row field-email">
            {{ form | crispy }}
        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </form>

{% else %}

    <div class="row">
        <div class="col-md-12">
            <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        </div>
    </div>

{% endif %}

{% endblock %}