{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'interviews:dashboard' %}">
            <div class="circle bg-primary float-md-left">
                <i class="icon ion-speedometer"></i>
            </div>
            <span>&nbsp;&nbsp;Dashboard</span>
        </a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'interviews:assessments' %}">Assessments</a></li>
    {% if new %}
        <li class="breadcrumb-item"><a href="{% url 'interviews:assessment' assessment_day.schedule.assessment.pk %}">{{ assessment_day.schedule.assessment.name }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'interviews:edit_schedule' assessment_day.pk %}">{{ assessment_day.date }}</a></li>
        <li class="breadcrumb-item active">New interview</li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'interviews:assessment' interview.timeslot.assessment_day.schedule.assessment.pk %}">{{ interview.timeslot.assessment_day.schedule.assessment.name }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'interviews:edit_schedule' interview.timeslot.assessment_day.pk %}">{{ interview.timeslot.assessment_day.date }}</a></li>
        <li class="breadcrumb-item active">Edit interview</li>
    {% endif %}
</ol>
{% endblock breadcrumb %}

{% block content %}

{% if saved %}
<div class="alert alert-success">{{ success_msg }}</div>
{% endif %}

{% if errors %}
<div class="alert alert-warning">{{ errors }}</div>
{% endif %}

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <h1>{{ title }}</h1>
    {% if new %}
        <h3>{{ candidate }}, {{ timeslot.start_time }} - {{ timeslot.end_time }}</h3>
    {% else %}
        <h3>{{ interview.candidate }}, {{ interview.timeslot.start_time }} - {{ interview.timeslot.end_time }}</h3>
    {% endif %}

    <hr>    

    {% crispy form form.helper %}

    <hr>
    
    {% if not new %}
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</a>
    {% endif %}
    <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#confirmModal">Cancel</a>
    <input type="submit" class="btn btn-primary" value="Save"/>
    
</form>

<!-- Confirm Modal -->
<div class="modal show fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                All changes will be lost.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a class="btn btn-primary" href="{% url 'interviews:edit_schedule' assessment_day.pk %}">Yes</a>
            </div>
        </div>
    </div>
</div>

{% if not new %}
<!-- Delete Modal -->
<div class="modal show fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        All information will be lost.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a class="btn btn-danger" href="{% url 'interviews:schedule_remove_interview' interview.pk %}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
