{% extends "app/base.html" %}
{% load static %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/support/">
            <div class="circle bg-primary float-md-left">
                <i class="icon ion-help"></i>
            </div>
            <span>&nbsp;&nbsp;Support</span>
        </a>
    </li>
    <li class="breadcrumb-item active">FAQ</li>
</ol>
{% endblock breadcrumb %}

{% block content %}


{% endblock %}


{% block javascript %}
{% endblock javascript %}