{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block breadcrumb %}
<div class="row">
    <div class="col-md-2">
        <p class="breadcrumb">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    </div>
    <div class="col-md-10">
        <div class="float-md-right">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="{% url 'interviews:new_assessment_step' 'details' %}">Basic info</a></li>
                <li class="breadcrumb-item active">Competencies</li>
                <li class="breadcrumb-item active"><a class="text-faded">Interview types</a></li>
                <li class="breadcrumb-item active"><a class="text-faded">Candidates</a></li>
                <li class="breadcrumb-item active"><a class="text-faded"><i class="icon ion-checkmark-round"></i></a></li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}

<h1 class="mx-auto">Competencies</h1>

<hr>

<p>
    Competencies on which the candidates will be rated in this assessment.<br>
    <small>You will be able to assign these competencies to different interview types on the next step.</small>
</p>

<form action="" method="post">{% csrf_token %}

    {{ wizard.management_form|crispy }}

    {{ wizard.form.management_form|crispy }}

    {% crispy wizard.form helper %}
    
</form>

<!-- Modal -->
<div class="modal show fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                All changes will be lost.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a class="btn btn-primary" href="{% url 'interviews:dashboard' %}">Yes</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){

    var current_num = 1;
    var current_div = "#competency-" + current_num.toString();
    var max_num = parseInt('{{wizard.form.max_num}}');

    $("#addAnother").click(function(){

        current_num++;
        current_div = "#competency-" + current_num.toString();

        if ($(current_div).hasClass('hide')){
            $(current_div).removeClass("hide");
        } else if (current_num == max_num) {
            $("#addAnother").addClass("hide");
        } else {
            current_num++;
            $("#addAnother").click();
        }

        if (current_num == max_num) {
           $("#addAnother").addClass("hide");
        }
    });

});
</script>
{% endblock javascript %}