{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block breadcrumb %}
<div class="row">
    <div class="col-md-2">
        <p class="breadcrumb">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    </div>
    <div class="col-md-10">
        <div class="float-md-right">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Basic info</li>
                <li class="breadcrumb-item active"><a class="text-faded">Competencies</a></li>
                <li class="breadcrumb-item active"><a class="text-faded">Interview types</a></li>
                <li class="breadcrumb-item active"><a class="text-faded">Candidates</a></li>
                <li class="breadcrumb-item active"><a class="text-faded"><i class="icon ion-checkmark-round"></i></a></li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
<h1 class="mx-auto">Basic information</h1>

<hr>

<form action="" method="post">
    {% csrf_token %}

    {{ wizard.management_form }}
    
    <div class="row">
        <div class="col-md-12">
            {{ wizard.form.name|as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            {{ wizard.form.start_date|as_crispy_field }}
        </div>
        <div class="col-md-3">
            {{ wizard.form.end_date|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ wizard.form.office|as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ wizard.form.description|as_crispy_field }}
            {% markdown_editor "#id_details-description" %}
            {% markdown_media %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ wizard.form.public|as_crispy_field }}
        </div>
    </div>

    <hr>

    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#confirmModal">Cancel</a>
    <input type="submit" class="btn btn-primary" value="Next"/>
    
</form>

<!-- Modal -->
<div class="modal show fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                All changes will be lost.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a class="btn btn-primary" href="{% url 'interviews:dashboard' %}">Yes</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}